*.o
*.os
*.log
*.swp
etc
.gitignore
.sconsign.dblite
build/cmp_tests
build/correct_tests_mlib
build/correct_tests_rt2
build/correct_tests_rt2cpu
build/libmlib.so
build/librt2.so
build/performance_tests_mlib
build/rt2cpu
build/
doc/ray_tracing.dvi
doc/rt2cpu.aux
doc/rt2cpu.idx
doc/rt2cpu.ilg
doc/rt2cpu.ind
doc/rt2cpu.out
doc/rt2cpu.toc
doc/rt2cpu.bbl
doc/rt2cpu.blg
doc/apps/cmp_virtual_method
doc/src/*.tex
rt2cpu.creator.user
