*.o
*.os
*.log
*.swp
etc
.gitignore
.sconsign.dblite
build/cmp_tests
build/correct_tests_mlib
build/correct_tests_rt2
build/correct_tests_rt2cpu
build/libmlib.*
build/librt2.*
build/performance_tests_mlib
build/rt2cpu
*.dvi
*.aux
*.idx
*.ilg
*.ind
*.lof
*.lot
*.out
*.toc
*.bbl
*.blg
*.nav
*.snm
doc/apps/cmp_virtual_method
doc/apps/cmp_et
doc/src/*.tex
*eps-converted-to.pdf
rt2cpu.creator.user
